# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment variables (IMPORTANT)
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# build
dist/
build/
*.egg-info/

# Mac
*.DS_Store
